* {
    margin: 0;
  }

  
  .home__table{
    width: 600px;
  }
  
  .app__input{
      display: flex;
      justify-content: space-between;
      margin-top: 10px;
      flex: wrap;
      max-width: 600px;
      border-radius: 10px;
  }

  .app__input > input {
      margin-right: 10px;
  }